@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
}

body{
    background: url('../assets/bgimage.webp') no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-main{
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 0.75rem;
    background: rgb(9, 134, 236);
    border: 1px solid rgb(9, 134, 236);
    color: #fff;
    cursor: pointer;
}

.game-wrapper{
    display: flex;
    justify-content: center;  
    margin-top: 5rem;

    .game-container{
        display: flex;

        .game-left-wrapper{            
            position: relative;
            background: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(0.1rem);            
            border-radius: 10px;   
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

            .gameover-line{
                position: absolute;
                width: 0;
                height: 3px;
                background: #68db68;
                border-radius: 20px;
                transition: 0.3s width ease-in-out;
            }
        }

        .game{
            display: grid;
            grid-template-columns: repeat(3, 10vw);
            grid-template-rows: repeat(3, 10vw);       

            .cell{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;
                cursor: pointer;
                transition: 0.2s ease-in-out;

                &:hover{
                    background: rgb(224 241 249);
                    transition: 0.2s ease-in-out;
                }

                &:nth-of-type(9n - 8){
                    border-top: 0;
                    border-left: 0;
                }

                &:nth-of-type(9n - 7){
                    border-top: 0;
                }

                &:nth-of-type(9n - 6){
                    border-top: 0;
                    border-right: 0;
                }

                &:nth-of-type(9n - 5){
                    border-left: 0;
                }

                &:nth-of-type(9n - 3){
                    border-right: 0;
                }

                &:nth-of-type(9n - 2){
                    border-bottom: 0;
                    border-left: 0;
                }

                &:nth-of-type(9n - 1){
                    border-bottom: 0;
                }  
                
                &:nth-of-type(9n){
                    border-right: 0;
                    border-bottom: 0;
                }   

                .cell-text{
                    font-size: 7vw;
                }
            }            
        }

        .game-overview{
            padding: 1rem;

            h1{
                color: #fff;
            }

            p{
                font-weight: 800;
                font-size: 1.5rem;
                margin: 2rem 0;
                color: #fff;

                span{
                    font-size: 1.2rem;
                    font-weight: 400;                    
                }
            }

            .btn-main{
                display: block;
                margin-bottom: 2rem;
            }

            img{
                width: 0;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .game-wrapper .game-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .game-wrapper .game-container .game {
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }

    .game-overview{
        margin-top: 2rem;
        text-align: center;
    }

    .game-wrapper .game-container .game-overview .btn-main{
        margin: auto;
    }

    .game-wrapper .game-container .game .cell .cell-text {
        font-size: 15vw;
    }

    .game-wrapper .game-container .game-overview img{
        margin-top: 1rem;
    }
}


@media only screen and (max-width: 600px) {
    h1{
        font-size: 1.6rem;
    }
}